@import '../../../assets/styles/variables';

.Modal {
    position: fixed;
    z-index: 9999;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: $buttonRadius;
    padding: 2rem;
    left: 50%;
    top: -200%;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

@media screen and (max-width : 1024px) {
    .Modal {
        width: 600px;
    }
}